/* Variables */

:root {
    --pink: #FFC0CB;
    --white: #FFFFFF;
    --light-gray: #EEEEEE;
    --gray: #2A2A2A;
}

* {
    font-family: 'Montserrat', sans-serif;
}

.hero {
    position: relative;
}

.hero-media {
    overflow: hidden;
    height: 200px;
}

.hero-video {
    width: 100%;
    margin-top: -200px;
    filter: grayscale(100%);
}

.hero-image {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.hero-title {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    background: pink;
    color: black;
}

.hero-description {
    text-align: center;
    border-bottom: 1px solid pink;
    margin: 10px 50px;
    padding: 15px;
}

/* Quick Links */
.quick-links-container {
    position: fixed;
    right: 0;
    background: var(--pink);
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 100;
    box-shadow: 0 0 10px var(--light-gray);
}

.quick-links-header {
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.quick-links-container:hover .quick-links-header {
    padding-bottom: 15px;
}

.quick-links-content {
    border-top: 1px solid var(--white);
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
    height: 0;
}


.quick-links-container:hover .quick-links-content {
    visibility: visible;
    opacity: 1;
    height: auto;
    padding-top: 15px;
}

.quick-link {
    text-decoration: none;
    color: var(--gray);
    margin-bottom: 15px;
    padding-right: 5px;
}

.quick-link:last-of-type {
    margin-bottom: 0;
}

.quick-link:hover {
    background: var(--white);
}

.quick-link-image {
    width: 40px;
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
}

/* Home page (index.html) */
#home-hero {
    background-color: var(--pink);
    text-align: center;
    min-height: 540px;
}

.hero-name {
    font-size: 170px;
    text-transform: uppercase;
    font-weight: 700;
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHwhKm1EQhXBw/profile-displayphoto-shrink_400_400/0/1571319885798?e=1672876800&v=beta&t=30KO1WZ2T1ddbVDZYmHPpHO7D8x_huk3woEafa72Yy8'); */
    transition: all 1s;
    margin: 0;
}

.home-hero-description {
    visibility: hidden;
    opacity: 0;
    transition: all 1s, opacity 0.5s ease;
    margin: 0;
    font-size: 0;
}

#home-hero:hover .home-hero-description {
    visibility: visible;
    opacity: 1;
    font-size: 32px;
    margin: 7px;
}

#home-hero:hover #first-name {
    transform: translateY(-10px);
}

#home-hero:hover #last-name {
    transform: translateY(10px);
}

.home-title {
    margin-top: 0;
    font-size: 40px;
}

.home-description {
    text-align: center;
    margin: 0 10%;
    line-height: 24px;
}

.home-header {
    text-align: center;
    margin: 30px 10%;
    padding: 15px;
    background: var(--pink);
}

.home-overview {
    text-align: center;
}

.chantal-img {
    border-radius: 100%;
    border: 17px solid var(--white);
    position: relative;
    top: -30px;
}

.page-links {
    list-style: none;
    position: relative;
    background: url('content/selfie.JPG');
    background-repeat: no-repeat;
    padding: 30px;
}

.page-link-option {
    background-color:var(--pink);
    margin-bottom: 30px;
    padding: 15px;
}

.page-link {
    text-decoration: none;
    color: var(--gray);
}

.page-link-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0;
}

.page-link-option:hover {
    background-color: var(--white);
}

.page-link-image {
    border-radius: 100%;
    border: 17px solid var(--white);
    position: relative;
}

.page-link-description {
    font-size: 1rem;
    color: var(--gray);
}

/* Experience page (experience.html) */
#work-experience-container {
    padding: 30px 5px;
}

.timeline {
    border-left: 7px solid var(--pink);
    margin-left: 30px;
}

.work {
    position: relative;
    margin-top: 70px;
    padding: 10px 30px;
    background-color: var(--white);
    margin-left: 30px;
    width: fit-content;
    border-radius: 17px
}

.years::before {
    content: ' ';
    width: 43px;
    height: 43px;
    background-color: var(--gray);
    border-radius: 100%;
    position: absolute;
    left: -62px;
    top: 0px;
    border: 7px solid var(--pink);
}


.job-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0;
}

/* About page (about.html) */

.activity {
    padding: 30px;
}

.activity-image {
    filter: grayscale(100%);
}

.activity-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.activity-details-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 24px;
    padding-bottom: 5px;
}

.activity-right .activity-details-title {
    border-bottom: 1px solid var(--white);
}

.image-caption {
    text-align: center;
    padding: 5px;
}

.activty-left .image-caption {
    background: var(--gray);
    color: var(--pink);
}

.activity-right {
    background-color: var(--pink);
}

.activity-content {
    text-align: center;
    margin: 0;
}

/* Contact page (contact.html) */

.contact-section {
    background: var(--white);
    display: flex;
    padding: 40px;
}

.contact-content {
    text-align: center;
}

.contact-say-hi {
    font-size: 30px;
    margin-bottom: 15px;
}

#contact-form {
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.input-wrapper {
    width: calc((100% - 30px)/2);
}

.input-label {
    text-transform: uppercase;
}

.form-input {
    border: none;
    border-bottom: 1px solid var(--pink);
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
}

.input-message-wrapper {
    width: 100%;
    margin: 30px 0px;
}

#message {
    width: 100%;
    resize: vertical;
    min-height: 32px;
}

#submit {
    box-shadow: 0 0px 19px 0 rgb(255 75 90 / 50%);
    background-color: var(--pink);
    border: none;
    border-radius: 25px;
    line-height: 50px;
    width: 100px;
    text-transform: uppercase;
    margin-top: 40px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgb(51 51 51 / 50%);
    background-color: var(--gray);
    color: pink;
}

/* Accolades Page (accolades.html) */

.accolade-section {
    display: flex;
    flex-wrap: wrap;
}

.accolade {
    padding: 15px;
    margin: 15px;
    background-color: var(--pink);
}

.accolade-title {
    text-transform: uppercase;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid var(--white);
    padding-bottom: 15px;
    font-size: 1.4em;
}

/* Media Queries */
/* Desktop */
@media screen and (min-width: 768px) {

    /* Home */
    .page-links {
        background-position-y: -400px;
    }

    .page-link-content {
        visibility: hidden;
        opacity: 0;
        transition: all 1s, opacity 0.5s ease;
        margin: 0;
        position: absolute;
        left: 40%;
        margin-right: 30px;
        top: 30px;
        background: #fff;
        height: calc(100% - 60px);
        width: calc(60% - 30px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-link-option:hover .page-link-content {
        visibility: visible;
        opacity: 1;
        font-size: 32px;
    }

    .page-link-option {
        width: 200px;
    }

    .page-link-description {
        font-size: 24px;
        text-align: center;
    }

    /* Experience */
    .work {
        min-width: 600px;
    }

    .work:hover .years::before {
        background-color: var(--pink);
    }
    .responsibilities {
        visibility: hidden;
        opacity: 0;
        transition: all 1s, opacity 0.5s ease;
        font-size: 0;
        border-top: 1px solid var(--pink);
    }
    
    .work:hover .responsibilities {
        visibility: visible;
        opacity: 1;
        font-size: 16px;
    }
    
    /* Media Query - About page */
    .hero-media {
        height: 500px;
    }

    .hero-video {
        margin-top: -400px;
    }

    .hero-title {
        position: absolute;
        top: 175px;
        left: 0;
        right: 0;
        margin: 0 100px;
        font-size: 70px;
        mix-blend-mode: screen;
    }
    .activity {
        display: flex;
    }

    .activity-content {
        display: flex;
        flex-direction: column;
    }

    .activity-left .activity-content {
        margin-left: 0;
    }
    
    .activity-right .activity-content {
        margin-right: 0;
    }

    .activity-left .activity-details {
        padding-left: 30px;
    }
    
    .activity-right .activity-details {
        padding-right: 30px;
    }

    .activity-details-title {
        border-bottom: 1px solid var(--pink);
    }

    /* Contact page */
    .contact-content {
        text-align: left;
    }

    #contact-form {
        padding-left: 30px;
        margin-top: 0;
    }

    /* Accolade page */
    .accolade-section {
        flex-wrap: nowrap;
    }
    
    .accolade {
        width: 33%;
        box-shadow: 0 0 10px var(--light-gray);
    }
}

/* Mobile */
@media screen and (max-width: 767.9px) {

    /* About page */
    .activity-image {
        width: 100%;
        height: 100%;
    }

    /* Contact page */
    .contact-section {
        flex-direction: column;
    }
}

/* General styles */

.main-container {
    background-color: var(--gray);
    padding: 15px;
}

.page-title {
    color: var(--pink);
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}