* {
    font-family: 'Montserrat', sans-serif;
}

/* Home page (index.html) */
.hero {
    text-align: center;
    min-height: 540px;
    background-color: #FFC0CB;
}

.hero-name {
    font-size: 170px;
    text-transform: uppercase;
    font-weight: 700;
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E03AQHwhKm1EQhXBw/profile-displayphoto-shrink_400_400/0/1571319885798?e=1672876800&v=beta&t=30KO1WZ2T1ddbVDZYmHPpHO7D8x_huk3woEafa72Yy8'); */
    transition: all 1s;
    margin: 0;
}

.hero-description {
    visibility: hidden;
    opacity: 0;
    transition: all 1s, opacity 0.5s ease;
    margin: 0;
    font-size: 0;
}

.hero:hover .hero-description {
    visibility: visible;
    opacity: 1;
    font-size: 32px;
    margin: 7px;
}

.hero:hover #first-name {
    transform: translateY(-10px);
}
.hero:hover #last-name {
    transform: translateY(10px);
}

.home-overview {
    text-align: center;
}

.chantal-img {
    border-radius: 100%;
    border: 17px solid #ffffff;
    position: relative;
    top: -30px;
}

.page-links {
    list-style: none;
    position: relative;
}

.page-link-option {
    background-color:#FFC0CB;
    border-radius: 100%;
    height: 300px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
}

.page-link-option:nth-child(odd) {
    left: 15%;
}

.page-link-option:nth-child(even) {
    right: 15%;
}

.page-link-option:nth-child(2) {
    top: 200px;
}

.page-link-option:nth-child(3) {
    top: 400px;
}

.page-link-option:nth-child(4) {
    top: 600px;
}

.page-link-option:nth-child(5) {
    top: 800px;
}

.page-link-option:nth-child(6) {
    top: 1000px;
}

.page-link {
    text-decoration: none;
}

.page-link-description {
    visibility: hidden;
    opacity: 0;
    transition: all 1s, opacity 0.5s ease;
    margin: 0;
    font-size: 0;
}

.page-link-title {
    font-size: 50px;
    text-transform: uppercase;
    margin: 0;
}

.page-link-option:hover .page-link-description {
    visibility: visible;
    opacity: 1;
    font-size: 16px;
    margin: 7px;
}

/* Experience page (experience.html) */
#work-experience-container {
    padding: 30px 5px;
}

.timeline {
    border-left: 7px solid #FFC0CB;
    margin-left: 30px;
}

.work {
    position: relative;
    margin-top: 70px;
    padding: 10px 30px;
    background-color: #FFFFFF;
    margin-left: 30px;
    width: fit-content;
    min-width: 700px;
    border-radius: 17px
}

.years::before {
    content: ' ';
    width: 43px;
    height: 43px;
    background-color: #2a2a2a;
    border-radius: 100%;
    position: absolute;
    left: -62px;
    top: 0px;
    border: 7px solid #FFC0CB;
}

.work:hover .years::before {
    background-color: #FFC0CB;
}

.job-title {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 0;
}

.responsibilities {
    visibility: hidden;
    opacity: 0;
    transition: all 1s, opacity 0.5s ease;
    font-size: 0;
    border-top: 1px solid #FFC0CB;
}

.work:hover .responsibilities {
    visibility: visible;
    opacity: 1;
    font-size: 16px;
}

/* About page (about.html) */

#about-hero {
    position: relative;
}

.about-video-container {
    overflow: hidden;
    height: 500px;
}

.about-video {
    width: 100%;
    margin-top: -400px;
    filter: grayscale(100%);
}

.about-title {
    position: absolute;
    top: 175px;
    text-align: center;
    left: 0;
    right: 0;
    margin: 0 100px;
    padding: 15px;
    text-transform: uppercase;
    font-size: 70px;
    background: pink;
    color: black;
    mix-blend-mode: screen;
}

.about-description {
    text-align: center;
    border-bottom: 1px solid pink;
    margin: 10px 50px;
    padding: 15px;
}

.activity {
    /* background: url('../archive/jetskiing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    position: relative;
    padding: 30px 10px;
    min-height: 500px;
}

.activity-content {
    width: 50%;
    margin-left: 0;
}

.activity-details {
    width: 50%;
}

.activity-left .activity-details {
    position: absolute;
    left: 50%;
    top: 45px;
}

.activity-right .activity-content {
    position: absolute;
    right: 0;
    margin: 0;
    top: 0;
}

/* Contact page (contact.html) */

.contact-section {
    background: #FFFFFF;
    display: flex;
    padding: 40px;
}

.contact-say-hi {
    font-size: 30px;
}

#contact-form {
    flex-grow: 2;
    padding-left: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-wrapper {
    width: calc((100% - 30px)/2);
}

.input-label {
    text-transform: uppercase;
}

.form-input {
    border: none;
    border-bottom: 1px solid #FFC0CB;
    display: block;
    width: 100%;
    margin-top: 15px;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
}

.input-message-wrapper {
    width: 100%;
    margin: 30px 0px;
}

#message {
    width: 100%;
    resize: vertical;
    min-height: 32px;
}

#submit {
    box-shadow: 0 0px 19px 0 rgb(255 75 90 / 50%);
    background-color: #FFC0CB;
    border: none;
    border-radius: 25px;
    line-height: 50px;
    width: 100px;
    text-transform: uppercase;
    margin-top: 40px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px 0 rgb(51 51 51 / 50%);
    background-color: #2a2a2a;
    color: pink;
}

/* General styles */

.main-container {
    background-color: #2a2a2a;
    padding: 15px;
}

.page-title {
    color: #FFC0CB;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
}