/* Variables */
:root {
    --gray: #2A2A2A;
    --red: #FF0000;
}

/* Keyframes */
@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

.hide {
    display: none !important;
}

* {
    font-family: 'Source Code Pro', monospace;
}

body {
    background: linear-gradient(270deg, rgba(255,252,255,1) 0%, rgba(213,254,253,1) 100%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    text-align: center;
    padding: 15px 30px;
}


header {
    display: flex;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 15px;
    flex-direction: column;
    align-items: center;
}

header svg {
    width: 70px;
    height: 70px;
}

h1 {
    margin: 0;
    font-size: 24px;
    font-weight: 100;
    line-height: 34px;
}

.calculator-img {
    margin-bottom: 15px;
}

.heading {
    font-size: 12vw;
    margin: 15px auto;

}

.welcome-input-container {
    display: flex;
    flex-direction: column;
}

.welcome-input-container label {
    padding: 30px 0px;
}

.welcome {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

#name {
    margin: 0px auto 30px auto;
    max-width: 100%;
    font-size: 30px;
    background: transparent;
    border: 1px solid var(--gray);
}

#usersName {
    font-size: 32px;
}

.input-container {
    margin-bottom: 30px;
    font-size: 40px;
}

.number-input {
    font-size: 32px;
    width: 25%;
    background: none;
    border: none;
    border-bottom: 4px solid var(--gray);
    text-align: center;
}

#error-message {
    font-size: 1rem;
    padding-bottom: 15px;
    color: var(--red);
}

button {
    margin: auto;
    padding: 15px;
    font-size: 1.2rem;
    border-radius: 32px;
    box-shadow: 0 0px 19px 0 rgb(42 42 42/ 50%);
    border: none;
}

#submit-name {
    min-width: 11%;
}

button:hover {
    cursor: pointer;
    background-color: var(--gray);
    color: white;
}

p {
    font-size: 22px;
}

#results-container p {
    margin: 10px;
}

#result {
    font-size: 30px;
    margin: 0px;
}

#sum {
    font-size: 47px;
    margin: 0;
    animation: appear 1s;
}

#result-size {
    animation: appear 1s;
}

fieldset {
    padding: 15px;
    width: 50%;
    margin: auto;
    font-size: 22px;
    animation: appear 1.7s;
}

legend {
    font-size: 1.2rem;
}

fieldset label {
    margin-left: -10px;
}

.checkbox {
    width: 17px;
    height: 17px;
}

footer {
    margin-top: 40px;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
    margin-left: -30px;
    margin-right: -30px;
}

/* Media Queries (Desktop) */

@media screen and (min-width: 1024px) {

    header {
        flex-direction: row;
    }

    h1 {
        margin-left: 15px;
    }

    #welcome-container {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        flex-direction: row;
    }

    fieldset {
        font-size: 30px;
    }

    #submit-name {
        min-width: 50%;
    }

    .calculator-img {
        width: 300px;
        height: 300px;
        margin-bottom: 0;
    }
}
