#projects-hero {
    background: url('../content/projects.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -117px;
}

.hero-title {
    mix-blend-mode: multiply;
}

.projects {
    display: block;
    margin: 15px;
    background: var(--pink);
    padding: 10px;
}

.project {
    background-color: var(--pink);
    background-size: cover;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.project:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

.project:hover p {
    background: var(--pink);
}

.project p {
    background: var(--white);
    font-size: 2rem;
    padding: 5px;
    text-align: center;
}

.project-two {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project-four {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 4;
}

.project-six {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 4;  
}

#database-project {
    background-image: url('../content/database.jpeg');
}

#macros-project {
    background-image: url('../content/macros.jpeg');
}

#spotify-project {
    background-image: url('../content/spotify.webp');
}

#calculator-project {
    background-image: url('../content/calculator_project.jpeg');
    background-position-x: -250px;
}

#website-project {
    background-image: url('../content/website.jpeg');
}

#form-project {
    background-image: url('../content/form.jpeg');
}

.overlay {
    background: rgba(0, 0, 0, .7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    max-width: 1500px;
    z-index: 2;
}

.close-overlay {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.close-overlay:hover {
    cursor: pointer;
}

.overlay-content {
    background: var(--white);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    display: none;
}

.overlay-active {
    display: flex;
}

.overlay-title {
    font-size: 2.2rem;
    margin-bottom: 0px;
    border-bottom: 2px solid var(--pink);
    padding-bottom: 15px;
}

.overlay-description {
    padding: 15px 30px;
    text-align: center;
    line-height: 1.5rem;
}

.overlay-link {
    text-decoration: none;
    font-size: 1.2rem;
    background: var(--pink);
    padding: 15px;
    color: var(--gray);
}

.overlay-link:hover {
    background: var(--gray);
    color: var(--pink);
}

/* Tablet */

@media screen and (min-width: 768px) {
    .projects {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: 200px 200px 200px;
        gap: 10px;
    }

    .project {
        margin: 0;
    }

    .project p {
        margin: 5px;
    }

    .overlay-content {
        background: var(--white);
        width: 70%;
        height: 90%;
        top: 5%;
        left: 15%;
    }
}