/* Variables */
:root {
    --pink: #FFC0CB;
    --white: #FFFFFF;
    --light-gray: #EEEEEE;
    --gray: #2A2A2A;
    --red: #FF0000;
}

/* Keyframe */
@keyframes appear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

/* General styles */

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    max-width: 1500px;
    overflow-x: hidden;
}

.noscript {
    display: none;
}

.fadein {
    animation: appear 1s;
}

.hidden {
    display: none !important;
}

.logo-container {
    text-align: center;
    padding: 5px;
    position: relative;
    background: var(--light-gray);
}

.logo-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

/* Hero */
.hero {
    position: relative;
}

.hero-media {
    overflow: hidden;
    height: 200px;
    filter: grayscale(100%);
}

.hero-video {
    width: 100%;
    margin-top: -200px;
    filter: grayscale(100%);
}

.hero-image {
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
}

.hero-title {
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    background: var(--pink);
    color: black;
    margin: 15px 30px;
    letter-spacing: 2px;
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    color: var(--gray);
    font-size: 2.7rem;
    text-align: center;
    text-transform: uppercase;
    padding: 30px;
    margin: 0px;
}

.hero-description {
    text-align: center;
    border-bottom: 1px solid var(--pink);
    margin: 10px 50px;
    padding: 15px;
}

.hero-description-image {
    vertical-align: middle;
}

/* Nav */

nav {
    padding: 5px;
    background: linear-gradient(45deg, var(--white) 1%, var(--pink));
    position: fixed;
    height: 100vh;
    z-index: 100001;
    top: 0;
    width: 75%;
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 10px;
    margin: 5px;
    height: 22px;
}

nav ul li {
    padding: 0 5px 15px 15px;
    margin-bottom: 15px;
    width: 90%;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid white;
}

nav a {
    text-decoration: none;
}

nav button {
    background: none;
    border: none;
    padding: 0px;
    cursor: pointer;
}

nav a, nav button {
    font-size: 1.7rem;
    color: var(--gray);
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 5px;
    background: var(--white);
    position: relative;
    z-index: 1;
    display: none;
}

.dropdown-content a {
    margin: 5px;
    font-size: 1.4rem;
    text-transform: capitalize;
}

.dropdown-content a:hover {
    background: var(--light-gray);
}

.nav-item {
    position: relative;
}

.nav-item:after {
    content: "";
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='32' fill='%230E0E0E'%3E%3Cpath d='M8.76 0 7.24 1.52 21.72 16 7.24 30.48 8.76 32l16-16z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 22px;
    height: 22px;
    background-size: contain;
    transform: rotate(-270deg);
    transition: all 1s, opacity 0.5s ease;
}

.nav-item-expanded::after {
    transform: rotate(-90deg);
    transition: all 1s, opacity 0.5s ease;
}

.nav-item-expanded .dropdown-content {
    display: flex;
}

.hamburger {
    position: absolute;
    left: 0;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
    top: 22px;
    left: 5px;
}

.close-nav {
    padding: 5px;
    cursor: pointer;
    margin-top: 17px;
}

/* Quick Links */

.socials {
    width: 50px;
    height: 250px;
    background-color: var(--gray);
    border-radius: 30px 0 0 30px;
    position: fixed;
    right: 0;
    top: 25vh;
    z-index: 1;
    box-sizing: border-box;
    overflow-y: hidden;
}

.social {
    width: 100%;
    height: 38%;
    
}

.social svg {
    fill: var(--white);
}

.social svg:hover {
    fill: var(--pink);
}

/* Footer */

.footer {
    text-align: center;
    font-size: 1rem;
    height: 30px;
    line-height: 30px;
    background: var(--pink);
    padding: 4px;
    margin: 25px 0px;
}

.footer p {
    margin: 0;
}

/* Media Queries */

/* Desktop */

@media screen and (min-width: 1024px) {

    .logo-container {
        background: none;
    }

    nav {
        position: unset;
        height: unset;
        width: 100%;
        display: block !important;
    }

    nav ul {
        flex-direction: row;
        max-width: 1000px;
        margin: 5px auto;
    }
    
    nav ul li {
        margin-bottom: 0;
        width: 25%;
        text-align: center;
        border-bottom: none;
    }

    .nav-item:hover::after {
        transform: rotate(-90deg);
        transition: all 1s, opacity 0.5s ease;
    }

    .nav-item:hover .dropdown-content {
        display: flex;
    }

    .dropdown-content {
        margin-top: 0;
    }

    .hamburger, .close-nav {
        display: none;
    }
    
    .hero-media {
        height: 500px;
    }

    .hero-video {
        margin-top: -470px;
    }

    .hero-title {
        position: absolute;
        top: 175px;
        left: 0;
        right: 0;
        margin: 0 100px;
        font-size: 4.37rem;
        mix-blend-mode: screen;
    }

    .hero-content {
        flex-direction: row;
        justify-content: center;
    }

    .hero-content p {
        padding-left: 5px;
    }

    .page-title {
        letter-spacing: 5px;
        font-size: 4.37rem;
    }

}

/* Tablet */

/* @media screen and (min-width: 480px) and (max-width: 1023.9px) {
    .logo-container {
        background: var(--gray);
    }

    .logo-header {
        color: var(--white);
    }
} */

/* Mobile */

@media screen and (max-width: 479.9px) {
    .socials {
        display: none;
    }
}